body{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    font-size: 15px;

}
.card-body{
    display: flex;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    align-content: center;
}
.first-column{
    background-color: hsl(31, 77%, 52%);
    padding: 30px;
    height:400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;
}
.second-column{
    background-color: hsl(184, 100%, 22%);
    padding: 30px;
    height:400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;
}
.third-column{
    background-color: hsl(179, 100%, 13%);
    padding: 30px;
    height:400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;
}
button{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border-style: none;
    font-family: 'Lexend Deca';
}
h1{
    font-family: 'Big Shoulders';
    font-weight: 700;
}
p{
    font-family: 'Lexend Deca';
    font-weight: 300;
}
.one{
    color:hsl(31, 77%, 52%);
}
.two{
   color: hsl(184, 100%, 22%);
}
.three{
   color: hsl(179, 100%, 13%);
}
button:hover{
   background-color: hsla(0, 0%, 100%, 0.75); 
}